@page "/Chat"
@using BlazorChat.Shared.Features.Chat.Models
@inherits ReactiveUI.Blazor.ReactiveComponentBase<BlazorChat.UI.Shared.Features.Chat.ChatViewModel>


<Container >
    <Row>
        <Column ColumnSize="ColumnSize.Is6" >
            <TextEdit @bind-Text="ViewModel.Username"/>
        </Column>
        <Column ColumnSize="ColumnSize.Is6">
            <Button readonly="@(!ViewModel.IsConnected)" @onclick="@(() => ViewModel.ConnectCommand.Execute().Subscribe())">
                @(ViewModel.IsConnected ? "Connected" : "Connect")
            </Button>
        </Column>
    </Row>
    <Row>
        <Column ColumnSize="ColumnSize.Is8">
            <TextEdit @bind-Text="ViewModel.MessageContent"/>
        </Column>
        <Column ColumnSize="ColumnSize.Is4">
            <Button @onclick="@(Callback)">
                Send
            </Button>
        </Column>
    </Row>
    <Row>
        <Column ColumnSize="ColumnSize.Is8">
            @foreach (var message in ViewModel.Messages.Reverse())
            {
                <Row>
                    <p>@message.SentAt</p>|<p>@message.Author</p>|<p>@message.Content</p>
                </Row>
            }
        </Column>
    </Row>
</Container>
